@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Sriracha&display=swap');

:root {
    --fonte-padrão:'Passion One',Helvetica,cursive, sans-serif; 
    --fonte-cordel: 'Sriracha', cursive, Helvetica, sans-serif; 
}

* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-height: 100vh;
    font-family:var(--fonte-cordel);    
}


header {
    background-color: black;        
    text-align: center;
    min-height: 150px;
    padding-top: 50px;
}

header h1 {
    color: white;
    font-family: var(--fonte-padrão);   
    font-size: 4em;     
    font-variant: small-caps;
}

header p {
    font-family: var(--fonte-cordel);
    color: white;
    padding-bottom: 50px;
}

header a  {
    color: white;
    transition: color o,3;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

 header a:hover { 
    color: antiquewhite;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; 
    padding-left: 30px;
    min-width: 320px;
    max-width: 1000px; 
    margin: auto;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {  
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: black;    
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.76);  
}

section.imagem > p {
    display: inline-block;
   background-color: rgba(0, 0, 0, 0.26); 
   padding: 10px;     
   color: white;
   text-shadow: 1px 1px 0px black;
}

.espaço {
    padding-top: 20px;
}

.imagem02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;        
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.76);
}

.imagem02 p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.384); 
    padding: 10px; 
    color: white;    
   text-shadow: 1px 1px 0px black;
 }
 
footer {
    background-color: black;
    text-align: center;
    padding-top: 10px;
}

footer p {
    color: white;
    padding-bottom: 10px;
}

footer a {
    color: white;
    transition: color o,3;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

footer  a:hover { 
    color: antiquewhite;
}