*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
}

header{
    padding: 8px 24px;
    background-color:black;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
}

header img{
    width: 130px;
}

header ul{
    list-style: none;
    display: flex
}

header ul li+li{
    margin-left: 35px;
}


header ul li{
    margin-left: 24px;
}


header a{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-weight: 900;
}

header a:hover{
    color: red;
}

.time{
    height: 300px;
    padding: 24px;

    background-position:center top 50% ;    
    background-size: cover;
    background-image: url(../images/banner.jpg);

    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.time h1{
    color: aliceblue;
    font-size: 36px;
    font-weight: 900;

}
.fut {
    max-width: 1200px;
    margin: 64px auto 0;
    padding: 0 24px;
}

.fut-now {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
}

.fut h2 {
    color: #111111;
    margin-bottom: 32px;
    padding-left: 8px;
    border-left: 4px solid #f13239;
}

.fut-now div {
    flex: 1 1 275px;
}

.fut-now img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.fut p {
    font-weight: bold;
}

.history{
    margin: 64px 0 0 ;
    padding: 92px 24px 0 ;
    border-top: 4px solid red;
    background-color: #000000;
    color: #ebebeb;
}

.history .container{
    max-width: 1200px;   
    margin: 0 auto; 

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #f13239;
    gap: 24px;
}

.history a {
    color: red;
    text-decoration: none;    
    transition: color 0.3s;
    font-weight: 900;
}

.history h2 {
    color: white;
    margin-bottom: 32px;
    padding-left: 8px;
    border-left: 4px solid white;
}

.history p {
    line-height: 1.5;
}

.history p + p {
    margin-top: 24px;
}

.history .container .coluna {
    flex: 1 1 300px;    
}

.history .container .coluna img {
    width: 100%;
}

.history a:hover {
    color: white;
}